<h3>Welcome back, <%= current_user.first_name %>!</h3>
<p>Eventually this will be a list of your contracts.</p>
<% if current_user.contracts  == nil %>
    <p>USER CONTRACTS<p>
<% end %>
<p>Would you like to look at more open job listings?</p>